[submodule "libs/foundation"]
path = libs/foundation
url = https://github.com/PMeeske/ouroboros-foundation.git
[submodule "libs/.build"]
path = libs/.build
url = https://github.com/PMeeske/ouroboros-build.git

